bzip2==1.0.8
ca-certificates==2023.08.22
click==8.1.7
flask==2.2.2
flask-sqlalchemy==3.0.2
greenlet==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
jinja2==3.1.2
libcxx==14.0.6
libffi==3.4.4
markupsafe==2.1.1
ncurses==6.4
openssl==3.0.12
pip==23.3
python==3.10.13
readline==8.2
setuptools==68.0.0
sqlalchemy==2.0.21
sqlite==3.41.2
tk==8.6.12
typing-extensions==4.7.1
typing_extensions==4.7.1
tzdata==2023c
werkzeug==2.2.3
wheel==0.41.2
xz==5.4.2
zlib==1.2.13
psycopg2==2.9.3